html, body{
    margin:0;
    padding: 0;
    width:100%;
}


body{
    width:100%;
    height: 100vh;
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('https://images.pexels.com/photos/4173239/pexels-photo-4173239.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: table;
    font-family: arial;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height:80px;
    border-bottom: 1px solid rgba(255,255,255,0.8);

}

img{
    width:95px;
    height:75px;
}



.logo {
    letter-spacing: 1px;
    float: left;
    color: #fff;
    font-size: 22px;
    line-height: 80px;
    padding: 0 6em;
    margin-top: 0px;
    
}

.menu{
    float: right;
    line-height: 50px;
    margin: 0 6em;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    display: inline-block;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size:16px;
    font-weight: lighter;
    padding:0 5px;
}

ul li:nth-child(4) a {
    color: #009f8b;
    border: 1px solid #009f8b ;
    padding: 10px,20px;
    border-radius: 4px;
    font-family: arial;
}

.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header h1{
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}


.header p{
    color: #fff;
    font-size: 24px;
    font-weight: lighter;
}

.header button{
    color: #fff;
    background-color: #009f8b;
    padding: 12px 32px;
    border:none;
    margin-top: 40px;
}